{% extends "blogs/base.html" %}

    {% block content %}

    <p><a href="{% url 'blogs:new_post'%}">add new post</a></p>
    <p>Posts:</p>

    <ul>
        {% for post in posts %}
        <li>
            <p> <a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a>, {{ post.date_added }} --->
                <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
            </p>
            <p>{{ post }}</p>
        </li>
        {% empty %}
        <li> No posts have been added yet.</li>
        {% endfor %}
    </ul>

    {% endblock content %}
